body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:black;
    background: url('./imagenes/backgroundHtml.png') no-repeat center center fixed; 

}

img{
    display:none;
}
#marcador{
    display:flex;


}
#dineroRataSabia{
    display:flex;
    border-radius: 91px 91px 91px 91px;
    -moz-border-radius: 91px 91px 91px 91px;
    -webkit-border-radius: 91px 91px 91px 91px;
    border: 10px hidden #248a1d;
}
#submit{
    position: absolute;
    top: 372px;
    right:410px;
    width: 70px;
    height: 70px;
    background: transparent;
    border: none;
}